<!-- Importer le header en EJS -->
<%- include('statics/header') -%>

<main>
	<h2>Bienvenue&nbsp;!</h2>
	
	<p>Ici, c'est le back office de Behhap et si tu souhaites apporter des modifications sur l'app, tu es au bon endroit.</p>

	<p>Alors, que souhaites-tu modifier&nbsp;?</p>
	<ul>
		<li><a href="/categories">Catégories</a></li>
		<li><a href="/tags">Tags</a></li>
		<li><a href="/tools">Outils</a></li>
	</ul>
</main>

<!-- Importer le footer en EJS -->
<%- include('statics/footer') -%>