<form action="/updateCategory/<%- item._id %>" method="POST">

	<div>
		<label for="name">Nom</label>
		<input type="text" name="name" required minlength="2" placeholder="Ex: Organisation" value="<%- item.name %>">
	</div>

	<div>
		<p>------------</p>
		<input type="checkbox" id="isPublished" name="isPublished" <% if (item.isPublished === true) { %> checked <% } %>>
		<label for="isPublished">Activé</label>
		<p>------------</p>
	</div>

	<button type="submit">Valider</button>

</form>