<form action="/login" method="POST">

	<label for="email">Email</label>
	<input type="email" name="email" required minlength="5" value="gautmaire45@gmail.com">

	<label for="password">Mot de passe</label>
	<input type="password" name="password" required minlength="5" value="azertyuiop">

	<button type="submit">Connexion</button>

</form>